* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game {
  height: 400px;
  width: 800px;
  border: 2px solid black;
  position: relative;
}
#character {
  position: absolute;
  height: 100px;
  width: 50px;
  background-color: red;
  bottom: 0;
}

.animate {
  animation: jump 500ms linear;
}

@keyframes jump {
  0% {
    bottom: 0;
  }
  30% {
    bottom: 100px;
  }
  70% {
    bottom: 100px;
  }
  100% {
    bottom: 0;
  }
}

#block {
  position: absolute;
  background-color: blue;
  width: 30px;
  height: 40px;
  right: 0;
  bottom: 0;
  animation: block 1s infinite linear;
}

@keyframes block {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
